/* PC */
@media (min-width: 1024px) {
  .header-content-iconnavbar,
  .sideBar-icon-info {
    display: none;
  }
}

/* MOBILE AND TABLET */
@media (max-width: 1023px) {
  .header-content-title,
  .header-logo {
    display: none;
  }

  .sideBar {
    display: none;
  }

  .content {
    width: 100%;
    margin-left: 0;
  }
}

/*  TABLET */
@media (min-width: 740px) and (max-width: 1023px) {
  .header-option-search {
    margin: 0 66px;
  }

  .content-staff-row {
    width: 50%;
  }
}

/* MOBILE */
@media (max-width: 739px) {
  .header-option-add {
    min-width: 18%;
    font-size: 1.1rem;
    margin-left: 4px;
    padding: 4px 8px;
  }

  .content-staff-row {
    width: 100%;
  }

  .header-option-search {
    margin: 0 10px;
    font-size: 1.1rem;
  }

  .header-option-search input {
    font-size: 1.1rem;
  }

  .header-option-searchicon {
    font-size: 1.1rem;
    padding: 4px 8px;
  }

  .header-option-other {
    font-size: 1.1rem;
    margin-right: 4px;
  }

  .header-option-page {
    margin-right: 2px;
  }

  .header-option-page-info {
    margin-right: 2px;
  }

  .header-option-page-icon {
    font-size: 1rem;
    padding: 4px 8px;
  }

  .header-option-sort {
    font-size: 1.1rem;
  }

  .header-option-sort-title i {
    font-size: 1.2rem;
    margin-left: 2px;
  }

  .header-sort-list {
    top: 24px;
  }
}